header {
  background: var(--primary-color);
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px; 
}

header div.profile {
  display: flex;  
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

header div.profile i {
  margin-left: 5px;
}

header img {
  margin: 0 40px;
}